1.Write a Python program to calculate the area of a rectangle. Take length and width as input.

In [1]:
length=int(input())
width=int(input())
area=length*width
print(area)

 2
 8

16

2.Write a program to swap two numbers using a temporary variable.

In [5]:
a=int(input())
b=int(input())
temp=a
a=b
b=temp
print("", a,"\n",b)

 10
 20

 20
 10

3.Take two integers as input and print their sum, difference, product, and quotient.

In [5]:
a=int(input())
b=int(input())
sum=a+b
diff=a-b
prod=a*b
quot=a/b
print(sum,diff,prod,quot)

 5
 4

9 1 20 1.25

4.Write a program to check whether two variables have equal values or not.

In [7]:
a=input()
b=input()
if a==b:
    print("The variables have equal values")
else:
    print("The variables not have equal values")

 10
 10

The variables have equal values

5.Write a program that calculates the cube of a number using the exponent operator.

In [8]:
a=int(input())
cube=a**3
print(cube)

 3

27

6.Write a Python program to take a string as input and print its first and last characters.

In [10]:
a=input()
f=a[0]
l=a[-1]
print(f,l)

 subba

s a

7.Write a program to count the number of vowels in a given string.

In [6]:
a=input()
a=a.lower()
v="aeiouAEIOU"
count=0
for i in a:
    if i in v:
        count+=1
print(count)

 SUBBA

2

8.Write a program to check whether a string is a palindrome or not.

In [9]:
a=input()
a1=a[::-1]
if a1==a:
    print("It is a palindrome")
else:
    print("it is not a palindrome")

 madam

It is a palindrome

9.Write a program to take a full name as input and print it in reverse order (e.g., "John Doe" â†’ "eoD nhoJ").

In [13]:
a=input()
a=a[::-1]
print(a)

 "subba reddy"

"ydder abbus"

10.Create a list with 5 numbers. Replace the second and fourth elements with new values and print the updated list.

In [32]:
a=[10,20,30,40,50]
a[1]=5
a[3]=7
print(a)

[10, 5, 30, 7, 50]

11.Write a program to input a list of numbers and print the maximum and minimum values.

In [7]:
a=[]
for i in range(0,5):
    ui=int(input())
    a.append(ui)
print(max(a),min(a))

 0
 1
 2
 3
 4

4 0

12.Write a program to reverse a list without using the reverse() function.

In [8]:
a=[1,2,3,4,5]
a=a[::-1]
print(a)

[5, 4, 3, 2, 1]

13.Write a program that removes all even numbers from a given list.

In [9]:
a=input()
a=[int(i) for i in a.split(',')]
result=[]
for i in a:
    if i%2!=0:
        result.append(i)
print(result)

 7,9,7,6

[7, 9, 7]

14.Write a Python program to create a tuple with 5 items and print the third item.

In [40]:
a=(5,6,7,8,9)
t=a[2]
print(t)

7

15.Write a program to convert a tuple into a list and modify one of its elements.

In [12]:
t=(5,6,7,8,9,10)
t=list(t)
t[2]=3
print(t)

[5, 6, 3, 8, 9, 10]

16.Write a program to concatenate two tuples and print the result.

In [11]:
a1=(4,6,7,8)
a2=(6,7,8)
print(a1+a2)

(4, 6, 7, 8, 6, 7, 8)

17.Create a dictionary to store information about a book (title, author, year). Print each key and value.

In [45]:
d={"title":"Rich Dad","author":"sunny","year":"1999"}
for i in d:
    print(i,d[i])

title Rich Dad
author sunny
year 1999

18.Write a program that adds a new key-value pair to an existing dictionary and prints it.

In [50]:
d={"name":"subba","age":21}
d["occupation"]="enginneer"
print(d)

{'name': 'subba', 'age': 21, 'occupation': 'enginneer'}

19.Write a program to find the value associated with a user-provided key in a dictionary.

In [51]:
d={"name":"subba","age":21,"occupation":"engineer"}
ui=input("enter")
print(d[ui])

enter age

21

20.Write a Python program to take two sets and print their intersection

In [52]:
a1={4,5,6,7}
a2={6,8,7,4}
print(a1.intersection(a2))

{4, 6, 7}

21.Write a program that removes duplicates from a list using a set.

In [13]:
a=[2,3,4,6,7,8,6,5,6]
print("list without duplicates:",list(set(a)))

list without duplicates: [2, 3, 4, 5, 6, 7, 8]

22.Write a program to add multiple values to a set using update().

In [59]:
s={4,5,6}
s.update({8})
s.update({7})
print(s)

{4, 5, 6, 7, 8}

23.Write a Python program to check whether a number entered by the user is even or odd.

In [61]:
a=int(input())
if a%2==0:
    print("even")
else:
    print("odd")

 5

odd

24.Write a program to take marks as input and print the grade:


>=90: A
>=75: B
>=50: C
<50: Fail

In [63]:
marks=int(input())
if marks>=90:
    print("A")
elif marks>=75:
    
    print("B")
elif marks>=50:
    
    print("C")
else:
    
    print("Fail")

 95

A

25.Write a program to find the largest among three numbers entered by the user.

In [64]:
a,b,c=map(int,input("Enter the values:").split())
if a>b and a>c:
    print("A is largest")
elif b>a and b>c:
    print("B is largest")
else:
    print("C is largest")

Enter the values: 99 66 55

A is largest